<div class="modal-dialog modal-lg" role="document">



    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Name </label>
                        <input type="text" class="form-control" formControlName="name" placeholder="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="user_id">Mildstone Title</label>
                        <select id="user_id" formControlName="milestone_id" class="form-select">
                            <option value="" selected hidden>Select Mildstone Title</option>
                            <option *ngFor="let rr of getmildstonedata" [value]="rr.id"> {{ rr.title
                                }} </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Resident Message</label>
                        <input type="text" class="form-control" placeholder="Task Message"
                            formControlName="task_message">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Personal Description </label>
                        <input type="text" class="form-control" placeholder="Description" formControlName="description">
                    </div>
                 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Start Date</label>
                        <input type="date" class="form-control" formControlName="start_date">
                        <div *ngIf="loginForm.get('start_date')?.errors?.['noPastDate']" class="text-danger">
                            Start date cannot be in the past.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>End Date</label>
                        <input type="date" class="form-control" formControlName="due_date">
                        <div *ngIf="loginForm.get('due_date')?.errors?.['dueDateInvalid']" class="text-danger">
                            Due date must be after the start date.
                        </div>
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Priority</label>
                        <select id="priority" formControlName="priority" class="form-control">
                            <option value="" selected hidden>Select Priority</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unit </label>
                        <select id="frequency" formControlName="unit" class="form-select">
                            <option value="" selected hidden>Select unit</option>
                            <option *ngFor="let rr of unitss" [value]="rr.id"> {{ rr.title}} {{rr.qty}} </option>
                        </select>

                    </div>
                       
                        
                </div>

           

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Frequency</label>
                        <select
                          id="frequency"
                          formControlName="frequency"
                          class="form-select"
                          (change)="onFrequencyChange()"
                        >
                          <option value="" selected hidden>Choose Your Frequency</option>
                          <option value="1-0-1">1-0-1</option>
                          <option value="1-0-0">1-0-0</option>
                          <option value="1-1-1">1-1-1</option>
                          <option value="0-0-1">0-0-1</option>
                          <option value="1-1-1-1">1-1-1-1</option>
                        </select>
                      </div>
                      
                      <div *ngFor="let time of timeInputs; let i = index" class="form-group col-md-4">
                        <label>Time {{ i + 1 }}</label>
                        <input
                          type="time"
                          class="form-control"
                          [formControlName]="'time' + i"
                          placeholder="Time"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label>Quantity</label>
                        <input type="text" class="form-control" formControlName="qty" placeholder="qty">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="medical_professional_id">Medical Professionals </label>
                        <select id="medical_professional_id" formControlName="medical_professional_id" class="form-select">
                            <option value="" selected hidden>Select Medical Professionals</option>
                            <option *ngFor="let rr of getproffesionalssssss" [value]="rr.id"> {{ rr.first_name
                                }} </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="medical_professional_id">Task Type </label>
                        <select id="task_type" formControlName="task_type" class="form-select">
                            <option value="" selected hidden>Select Medical Professionals</option>
                            <option  value="medication task"> medication task </option>
                            <option  value="care task">  care task </option>
                        </select>
                    </div>
                </div>
                
             
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Select Medicine Name </label>
                        <div class="multi-select-dropdown">
                            <div class="selected-options">
                                <span *ngFor="let user of selectedUsers" class="selected-item">
                                    {{ user.medicine_name }}
                                    <button type="button" class="unselect-btn" (click)="toggleSelection(user)">
                                        &times;
                                    </button>
                                </span>
                            </div>
                            <div class="dropdown-options">
                                <label *ngFor="let user of getmedicinesUser" class="dropdown-item">
                                    <input type="checkbox" [checked]="isUserSelected(user)"
                                        (change)="toggleSelection(user)" />
                                    {{ user.medicine_name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" (click)="submitRoom()" type="button" class="btn btn-success m-1">Save</button>
                <button type="submit" class="btn btn-danger" (click)="cancel()" type="button">cancel</button>
            </form>
        </div>
    </div>
</div>