<div class="container-fluid p-2">
  <div class="col-lg-12 col-md-12 d-flex justify-content-between align-items-center mt-2"
    style="background-color: #F7F7F7; height: 70px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius: 10px;">

    <!-- Left side content -->
    <div class="d-flex gap-2">
      <h5 class="fs-4 mt-3 text-center me-2">User List</h5>
      <button type="button" (click)="onclick()" class="btn btn-primary addbutton mt-2 me-2">
        <i class="fa-sharp fa-solid fa-plus"></i> Add
      </button>
    </div>

    <!-- Right side search input -->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search" (input)="onSearch()"
      class="form-control mt-3 w-25">
  </div>


  <div class="mt-2" style="overflow-x: scroll; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 10px;">
    <table class="table table-bordered table-hover table-striped">
      <thead style="font-size: 13px;">
        <tr>
          <th (click)="onSortChange('id')">Room No <i class="fa fa-arrow-up" style="color: #34395e;"
              *ngIf="sortBy === 'id' && sortDirection === 'ASC'"></i><i class="fa fa-arrow-down"
              *ngIf="sortBy === 'id' && sortDirection === 'DESC'"></i></th>
          <th (click)="onSortChange('first_name')">User Name <i class="fa fa-arrow-up"
              *ngIf="sortBy === 'first_name' && sortDirection === 'ASC'"></i><i class="fa fa-arrow-down"
              *ngIf="sortBy === 'first_name' && sortDirection === 'DESC'"></i></th>

          <th (click)="onSortChange('Status')">Status<i class="fa fa-arrow-up"
              *ngIf="sortBy === 'Status' && sortDirection === 'ASC'"></i><i class="fa fa-arrow-down"
              *ngIf="sortBy === 'Status' && sortDirection === 'DESC'"></i></th>
          <th (click)="onSortChange('group_name')">Role<i class="fa fa-arrow-up"
              *ngIf="sortBy === 'group_name' && sortDirection === 'ASC'"></i><i class="fa fa-arrow-down"
              *ngIf="sortBy === 'group_name' && sortDirection === 'DESC'"></i></th>
          <th>Assigned</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of getusersData; let i=index;">
          <!-- <td class="btn small-btn text-light"
          style="background-color: #34395e;">{{ user.room_number || 0 }}</td> -->


          <td style="text : center;">
            <div class="d-flex gap-2" style="justify-content: center;">
              <div>
                <button type="button" class="btn small-btn text-light"
                  style="background-color: #34395e;">{{user.room_number || 0}}</button>

              </div>

            </div>
          </td>


          <td>

            <div style="display: flex;  justify-content: start; margin-left:  10px;  padding-right: 70px;" class="gap-3">
              <!-- Profile Image -->
              <img
                [src]="user.profile ? user.profile : 'https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg'"
                class="img-fluid"
                style="width: 50px; height: 50px; border-radius: 100%;box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;"
                alt="">

              <!-- Name and Email -->
              <div style="margin-left: 0px;">
                <p style="margin: 0; font-weight: bold;text-align: start;font-size: 0.9em;"> <span
                    (click)="ByIds(user.id)">{{ user.first_name }} {{user.last_name}}</span>
                  <span (click)="ByIds(user.id)"><i class="fa-solid fa-eye m-2"></i></span>
                  <span style="cursor: pointer;" (click)="ById(user.id)" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="fa-regular fa-pen-to-square"></i></span>

                </p>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog  modal-lg">
                    <div class="modal-content text-start">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form #userForm="ngForm" (ngSubmit)="updateusers()">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="name">First Name</label>
                              <input type="text" class="form-control" id="first_name"
                                [(ngModel)]="userByIdData.first_name" name="first_name" required />
                            </div>
                            <div class="form-group col-md-6">
                              <label>Last Name</label>
                              <input type="text" class="form-control" id="last_name"
                                [(ngModel)]="userByIdData.last_name" name="last_name" required />
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Email</label>
                              <input type="text" class="form-control" id="email" [(ngModel)]="userByIdData.email"
                                name="email" required />
                            </div>
                          </div>



                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Date of Birth</label>
                              <input type="text" class="form-control" id="date_of_birth" [value]="getFormattedDate()"
                                [(ngModel)]="userByIdData.date_of_birth" name="date_of_birth" required />
                            </div>
                            <div class="form-group col-md-6">
                              <label>Date of Joining</label>
                              <input type="text" class="form-control" id="date_of_joining"
                                [(ngModel)]="userByIdData.date_of_joining" name="date_of_joining" required />
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Phone</label>
                              <input type="text" class="form-control" id="phone" [(ngModel)]="userByIdData.phone"
                                name="phone" required />
                            </div>
                            <div class="form-group col-md-6">
                              <label>Designation</label>
                              <input type="text" class="form-control" id="designation"
                                [(ngModel)]="userByIdData.designation" name="designation" required />
                            </div>
                          </div>
                          <button type="submit" class="btn btn-success m-1">Save</button>
                          <button type="button" class="btn btn-danger" type="button" data-bs-dismiss="modal"
                            aria-label="Close">cancel</button>


                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <p style="margin: 0; font-size: 0.9em; color: gray;text-align: start;">{{ user.email }}</p>
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-sm" [ngClass]="user.active ? 'btn-success' : 'btn-danger'"
              style="border-radius: 20px;" (click)="toggleVerified(user)">
              {{ user.active ? 'Active' : 'Inactive' }}
            </button>
          </td>
          <td>
            <button class="btn btn-sm text-light"
              style="border-radius: 20px; background-color: #34395e;">{{user.group_name }}</button>
          </td>
          <td style="text-align:center;">
            <div class="d-flex gap-2" style="justify-content: center;">
              <div>
                <button type="button" class="btn btn-secondary small-btn">{{user.user_count}}</button>
                <span>Rooms</span>
              </div>
              <div>
                <button type="button" class="btn btn-secondary small-btn">0</button>
                <span>Resident</span>
              </div>
              <div>
                <button type="button" class="btn btn-secondary small-btn">0</button>
                <span>Task</span>
              </div>
            </div>
          </td>


          <td>

            <div class="position-relative" style="display: inline-block;">
              <!-- Ellipsis Icon -->


              <span *ngIf="user.id === 1" style="padding: 10px; border-radius: 10px; font-weight: bold;">
                Admin
              </span>
              <span *ngIf="user.id !== 1" (click)="togglePopover(i)"
                style="cursor: pointer;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;padding: 10px;border-radius: 10px;">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </span>

              <!-- Popover List -->
              <div *ngIf="activePopoverIndex === i && user.id !== 1" class="popover-menu"
                style="position: absolute; top: 20px; right: 0; background: white; border: 1px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 10px; z-index: 1000; border-radius: 5px;">
                <ul style="list-style: none; margin: 0; padding: 0;">
                  <li style="display: flex; align-items: center; padding: 5px 0;cursor: pointer;">
                    <i class="fa-solid fa-plus" style="margin-right: 8px; color: #333;"></i>
                    <a style="text-decoration: none; color: #333;" (click)="changeGroupId(1, user.id)">Make Admin</a>
                  </li>
                  <!-- <li style="display: flex; align-items: center; padding: 5px 0;">
                    <i class="fa-solid fa-user" style="margin-right: 8px; color: #333;"></i> 
                    <a style="text-decoration: none; color: #333;" (click)="changeGroupId(2, user.id)">Make User</a>
                  </li> -->
                  <li style="display: flex; align-items: center; padding: 5px 0;cursor: pointer;">
                    <i class="fa-solid fa-user-friends" style="margin-right: 8px; color: #333;"></i>
                    <a style="text-decoration: none; color: #333;" (click)="changeGroupId(3, user.id)">Make Client</a>
                  </li>
                  <li style="display: flex; align-items: center; padding: 5px 0;cursor: pointer;">
                    <i class="fa-solid fa-user" style="margin-right: 8px; color: #333;"></i>
                    <a style="text-decoration: none; color: #333;" data-bs-toggle="modal"
                      data-bs-target="#exampleModalsetting" (click)="userpermission(user.id)" class="hover-effect">
                      Permission</a>
                  </li>


                </ul>

              </div>
            </div>


            <div class="position-relative ms-3" style="display: inline-block;">
              <span style="cursor: pointer;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;padding: 9px;border-radius: 10px;">
                <i class="fs-6 fa-solid fa-key" data-bs-target="#exampleModal1111" data-bs-toggle="modal"
                  (click)="ById(user.id)"></i>
              </span>
              <div class="modal fade" id="exampleModal1111" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog  modal-lg">
                  <div class="modal-content text-start">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Password</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form #userForm="ngForm" (ngSubmit)="editpasswordsss()">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="name">Email</label>
                            <input type="text" class="form-control" id="email" [(ngModel)]="userByIdData.email"
                              name="email" required />
                          </div>
                          <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="text" class="form-control" id="password" [(ngModel)]="userByIdData.password"
                              name="password" required />
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success m-1">Save</button>
                        <button type="button" class="btn btn-danger" type="button" data-bs-dismiss="modal"
                          aria-label="Close">cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="exampleModalsetting" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Roles</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">




            <div class="alert alert-danger">
              <strong>Note:</strong> Admin always have all the permissions. Here you can set permissions for Users and
              Residents.
            </div>
            <div class="permissions-section">
              <div class="permissions-group w-100">
                <h3>Sidebar Permissions</h3>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Module/Permissions</th>
                      <th>User</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let module of dataside">
                      <td>{{ module.side_name }}</td>
                      <td>
                        <label class="custom-control overflow-checkbox">
                          <input (click)="sideMenuById(module.id)" type="checkbox" class="overflow-control-input"
                            [checked]="module.permission == 1"
                            (change)="updatePermissions(module, 'permission', $event)" />
                          <span class="overflow-control-indicator"></span>
                        </label>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <!-- Pagination buttons -->
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3 p-2 rounded"
    style="background-color: #f7f7f7; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <!-- Rows Info -->
    <div>
      Showing {{ getStartIndex() }} to {{ getEndIndex() }} of {{ totalItems }} rows
    </div>

    <!-- Rows Per Page Selector -->
    <div class="d-flex align-items-center gap-2">
      <span>Rows per page:</span>
      <select class="btn text-light" style="border-radius: 10px;" class="btn form-select-sm" style="width: 60px;"
        [(ngModel)]="rowsPerPage" (change)="onRowsPerPageChange()">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
      </select>
    </div>

    <!-- Pagination Controls -->
    <div>
      <button class="btn btn-outline-primary btn-sm" (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 1">
        &lt;
      </button>
      <button *ngFor="let page of getPaginationButtons()" class="btn" [ngClass]="{
          'btn-primary': page === currentPage,
          'btn-outline-primary': page !== currentPage
        }" (click)="onPageChange(page)">
        {{ page }}
      </button>
      <button class="btn btn-outline-primary btn-sm" (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage * rowsPerPage >= totalItems">
        &gt;
      </button>
    </div>
  </div>
</div>