<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Milestone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="loginForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Title Name</label>
                  <label>Visibility Logs</label>
                  <select  formControlName="title" class="form-select">
                  <option value="" selected hidden>Choose Your Frequency</option>
                  <option value="Behavior">Behavior</option>
                  <option value="Blood Pressure">Blood Pressure</option>
                  <option value="Blood Sugar">Blood Sugar</option>
                  <option value="Body Check">Body Check</option>
                  <option value="Bowel Movement">Bowel Movement</option>
                  <option value="Food">Food</option>
                  <option value="Mood">Mood</option>
                  <option value="Oxygen">Oxygen</option>
                  <option value="Position">Position</option>
                  <option value="Seizure">Seizure</option>
                </select>
</div>
             
                <div class="form-group col-md-6">
                  <label>Description</label>
                  <input type="text"  class="form-control" formControlName="description" placeholder="description"
                  [ngClass]="{'is-invalid': loginForm.controls['description'].errors && ck }">
                  <p class="text-danger" *ngIf="loginForm.controls['description'].errors && ck">Enter your Description</p>
                </div>
             
              </div>

              <div class="form-row">
              <!-- <div class="form-group col-md-6">
                <label>status</label>
                <input type="text" class="form-control" placeholder="status" formControlName="status"
                [ngClass]="{'is-invalid': loginForm.controls['status'].errors && ck }">
                <p class="text-danger" *ngIf="loginForm.controls['status'].errors && ck"> Enter your status</p>
              </div> -->

              <div class="form-group col-md-6">
                <label>status</label>              
                  <select
                  id="frequency"
                  formControlName="status"
                  class="form-select"
            
                >
                  <option value="" selected hidden>Choose your status</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                
                </select>
              </div>



            </div> 
          <button type="submit" (click)="addusers()" type="button" class="btn btn-success m-1">Save</button>
          <button type="submit" class="btn btn-danger" (click)="cancel()" type="button" >cancel</button>
        </form>
      </div>
    </div>
  </div>
  
   
   
  
              
  
  
  
  
  
  
  