<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between">
      <h4>Annoucement</h4>

      <button type="button" class="btn btn-primary rounded-pill " data-bs-toggle="modal"
        data-bs-target="#annoucementModal">
        <i class="fa-solid fa-plus"></i>
      </button>

      <!-- Annoucement Modal -->
      <div class="modal fade" id="annoucementModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New Announcement</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addForm" (ngSubmit)="submit()">

                <div class="container-fluid">

                  <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <label for="">To</label>
                      <label for="">Select Users</label>
                      <div class="multi-select-dropdown">
                        <div class="selected-options">
                          <span *ngFor="let user of selectedUsers" class="selected-item">
                            {{ user.first_name }} {{ user.last_name }}
                            <button type="button" class="unselect-btn" (click)="toggleSelection(user)">
                              &times;
                            </button>
                          </span>
                        </div>

                        <div class="dropdown-search">
                          <input type="text" [formControl]="searchControl" placeholder="Search..."
                            class="search-input" />
                        </div>

                        <div class="dropdown-options">
                          <label *ngFor="let user of filteredUsers" class="dropdown-item">
                            <input type="checkbox" [checked]="isUserSelected(user)" (change)="toggleSelection(user)" />
                            {{ user.first_name }} {{ user.last_name }}
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <label for="">Subject</label>
                      <input type="text" formControlName="subject" class="form-control" placeholder="Enter subject">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <label for="">Body</label>
                      <textarea class="form-control" formControlName="description"></textarea>
                    </div>

                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="container-fluid">

  <div class="row mt-4 justify-content-center" *ngFor="let aa of allData;">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <div class="card mt-1">
        <div class="card-header d-flex justify-content-between">

          <div></div>
          <span data-bs-toggle="modal"  (click)="patchFormValuesMsg(aa)" style="cursor: pointer;color: aliceblue;padding: 5px;" data-bs-target="#chatModal">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </span>
          
          <!-- Chat Modal -->
          <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                    <img src="../../../../assets/user.png" class="img-fluid" style="width: 8%;" alt="">
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 
                  <div>
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let msg of announcementMessages">
                        <i class="fa-regular fa-user m-1"></i><span>{{ msg.username }}</span> <br>
                        <i class="fa-solid fa-clock m-1"></i> <small> {{ msg.created_at | date:'short' }} </small>
                        <br>
                        
                        <p> <span><i class="fa-regular fa-envelope m-1"></i></span> {{ msg.message }}</p>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="announcementMessages.length === 0">
                    <p class="text-muted">No messages available.</p>
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <form [formGroup]="msgForm" (ngSubmit)="announcementMsg()" class="w-100">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                          <!-- Hidden input for announcement ID -->
                          <input type="text" formControlName="announcement_id" class="form-control" hidden>
                
                          <!-- Input field for message -->
                          <input type="text" formControlName="msg" class="form-control" placeholder="Type your message" (keydown.enter)="$event.preventDefault()">
                
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa-solid fa-paper-plane"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="container">

            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between">
                <p>{{ aa.subject }}</p>
                <div class="dropdown">
                  <button class="btn btn-secondary" style="background: transparent;border: none;" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="cursor: pointer;color: #000;" class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a data-bs-toggle="modal" data-bs-target="#editModal" (click)="patchFormValues(aa)" class="dropdown-item">Edit</a></li>
                    <li><a class="dropdown-item" >Delete</a></li>
                  </ul>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"  
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Announcement</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="editForm" (ngSubmit)="editAnnouncement()">
                          <label for="id">ID</label>
                          <input type="text" formControlName="id" class="form-control" hidden>
                        
                          <label for="subject">Subject</label>
                          <input type="text" formControlName="subject" class="form-control">
                        
                          <label for="description">Body</label>
                          <textarea formControlName="description" class="form-control"></textarea>
                        
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                        </form>
                        

                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-muted">{{ aa.description }}</p>
              </div>

            </div>

          </div>



        </div>
        <div class="card-footer text-secondary">
          <span><i class="fa-solid fa-comments m-1"></i> <small>{{announcementMessages.length}}</small> </span>
        </div>
      </div>
    </div>

  </div>

</div>