<div class="container-fluid">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button routerLink="/Admin/room-details" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></button>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between ">
            <span>
                <h4>Room Tasks</h4>
            </span>
            <span>
                <span> <button class="btn btn-success rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#taskModal">Create Task</button> </span>

                <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">


                                    <!-- User ID -->
                                    <div class="form-group">
                                        <label for="user_id">User</label>
                                        <select id="user_id" formControlName="user_id" class="form-select">
                                            <option value="">Select User</option>
                                            <option *ngFor="let rr of roomUsers" [value]="rr.id"> {{ rr.first_name
                                                }} </option>
                                        </select>
                                    </div>

                                    <!-- Title -->
                                    <div class="form-group">
                                        <label for="title">Name</label>
                                        <input id="title" type="text" formControlName="name" class="form-control" />
                                    </div>

                                   

                                   

                                    <!-- Description -->
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea id="description" formControlName="description"
                                            class="form-control"></textarea>
                                    </div>

                                    <!-- Priority -->
                                    <div class="form-group">
                                        <label for="priority">Priority</label>
                                        <select id="priority" formControlName="priority" class="form-control">
                                            <option value="">Select Priority</option>
                                            <option value="1">Low</option>
                                            <option value="2">Medium</option>
                                            <option value="3">High</option>
                                        </select>
                                    </div>

                                    <!-- start Date -->
                                    <div class="form-group">
                                        <label for="start_date">Start Date</label>
                                        <input id="start_date" type="date" formControlName="start_date"
                                            class="form-control" />
                                    </div>

                                    <!-- Due Date -->
                                    <div class="form-group">
                                        <label for="due_date">Due Date</label>
                                        <input id="due_date" type="date" formControlName="due_date"
                                            class="form-control" />
                                    </div>

                                    <!-- Time -->
                                    <div class="form-group">
                                        <label for="time">Time</label>
                                        <input id="time" type="time" formControlName="time" class="form-control" />
                                    </div>

                                    <!-- Status -->
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select id="status" formControlName="status" class="form-control">
                                            <option value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="In Progress">In Progress</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </div>

                                 

                                    <!-- Task Message -->
                                    <div class="form-group">
                                        <label for="task_message">Task Message</label>
                                        <textarea id="task_message" formControlName="task_message"
                                            class="form-control"></textarea>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit"  class="btn btn-primary">Submit</button>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </span>
        </div>


    </div>


    <div class="row">

      
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let task of thisRoomTasks">
            <div class="card mt-4" style="cursor: pointer;" [ngClass]="{
            'priority-high': task.priority === 3,
            'priority-medium': task.priority === 2,
            'priority-low': task.priority === 1
          }">
                <div class="card-header d-flex justify-content-between">
                    <small class="fw-bold" *ngIf="task.priority === 1" > Low </small>
                    <small class="fw-bold" *ngIf="task.priority === 2" > Medium </small>
                    <small class="fw-bold" *ngIf="task.priority === 3" > High </small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4> {{ task.title }} </h4>
                            <small class="description" [title]="task.description">
                                {{ task.description }}
                            </small>
                            <hr class="fw-bold">
                            <div class="d-flex justify-content-between">
                                <span>
                                    <div class="popover-container"
                            style="display: inline-flex;">
                            <button class="popover-button">
                                {{ task.username?.split(' ')[0]?.charAt(0).toUpperCase() }}{{ task.username?.split(' ')[1]?.charAt(0).toUpperCase() }}
                            </button>
                            <div class="popover-content">
                              <p>
                                {{ task.username }}
                              </p>
                              <ng-template #loading>
                                <p>Loading...</p>
                              </ng-template>
                            </div>
                          </div>
                                </span>
                                <!-- <span (click)="setCommentFormData(task)" data-bs-toggle="modal"
                                    data-bs-target="#commentModal">
                                    <i class="fa-regular fa-comments"></i>
                                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {{ taskCommentsCount[task.id] || 0 }}
                                    </span>
                                </span>


                               
                                <div class="modal fade" id="commentModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Comments for {{
                                                    selectedTask?.title }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="addCommentForm" (ngSubmit)="onSubmitComment()">
                                                    <div class="mb-3">
                                                        <label for="comment" class="form-label">Comment</label>
                                                        <textarea id="comment" formControlName="comment"
                                                            class="form-control" placeholder="Add your comment here..."
                                                            rows="3"></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                            Comment</button>
                                                    </div>
                                                </form>

                                                <h5>Comments</h5>
                                                <ul *ngIf="taskComments[selectedTask?.id]?.length; else noComments">
                                                    <li *ngFor="let comment of taskComments[selectedTask?.id]">
                                                        <strong>{{ comment.username }}:</strong> {{ comment.comment }}
                                                        <br>
                                                        <small class="text-muted">{{ comment.date_created | date:
                                                            'short' }}</small>
                                                    </li>
                                                </ul>
                                                <ng-template #noComments>
                                                    <p>No comments yet for this task.</p>
                                                </ng-template>

                                            </div>

                                        </div>
                                    </div>
                                </div> -->

                                <span (click)="setCommentFormData(task)" data-bs-toggle="modal" data-bs-target="#commentModal">
                                    <i class="fa-regular fa-comments"></i>
                                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                      {{ task.comment_count || 0 }}
                                    </span>
                                  </span>
                                  
                                  <!-- Comment Modal -->
                                  <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Comments for {{ selectedTask?.title }}</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <form [formGroup]="addCommentForm" (ngSubmit)="onSubmitComment()">
                                            <div class="mb-3">
                                              <label for="comment" class="form-label">Comment</label>
                                              <textarea id="comment" formControlName="comment" class="form-control" placeholder="Add your comment here..." rows="3"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              <button type="submit" class="btn btn-primary">Add Comment</button>
                                            </div>
                                          </form>
                                  
                                          <h5>Comments</h5>
                                          <ul *ngIf="taskComments[selectedTask?.id]?.length; else noComments">
                                            <li *ngFor="let comment of taskComments[selectedTask?.id]">
                                              <strong>{{ comment.username }}:</strong> {{ comment.comment }}
                                              <br>
                                              <small class="text-muted">{{ comment.date_created | date: 'short' : 'UTC' }}</small>
                                            </li>
                                          </ul>
                                          <ng-template #noComments>
                                            <p>No comments yet for this task.</p>
                                          </ng-template>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>