<div class="container">

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      

      <div class="row">
        <img [src]="selectedLogo" class="img-fluid" style="width: 15%;height: 15%;"  alt="">
        <form [formGroup]="updateLogo" (ngSubmit)="changeLogo()" >
          <legend>Main Logo</legend>

          <div class="form-group">
            <label for="">Logo</label>
            <input 
                  type="file" 
                  id="fileInput" 
                  (change)="onSelectFile($event)" 
                  accept=".jpeg, .jpg, .png, .pdf, .xlsx" class="form-control"
                  formControlName="logo"
                />
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
        </form>

      </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      

      <div class="row">
        <img [src]="selectedLoginLogo" class="img-fluid" style="width: 15%;height: 15%;"  alt="">

        <form [formGroup]="updateLoginLogo" (ngSubmit)="changeLoginLogo()" >
          <legend>Login Logo</legend>

          <div class="form-group">
            <label for="">Logo</label>
            <input 
                  type="file" 
                  id="fileInput" 
                  (change)="onSelectLoginFile($event)" 
                  accept=".jpeg, .jpg, .png, .pdf, .xlsx" class="form-control"
                  formControlName="logo"
                />
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
        </form>

      </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-2">
      

      <div class="row">
        <img [src]="selectedFavLogo" class="img-fluid" style="width: 15%;height: 15%;"  alt="">

        <form [formGroup]="updateFavLogo" (ngSubmit)="changeFavLogo()" >
          <legend>Fav Logo</legend>

          <div class="form-group">
            <label for="">Logo</label>
            <input 
                  type="file" 
                  id="fileInput" 
                  (change)="onSelectFavFile($event)" 
                  accept=".jpeg, .jpg, .png, .pdf, .xlsx" class="form-control"
                  formControlName="logo"
                />
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
        </form>

      </div>

    </div>

    <div class="col-md-6 mt-2">
      <h2>Customize Theme</h2>
      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label for="headerColor">Header Color</label>
          <input [(colorPicker)]="header_color" class="form-control w-25" (colorPickerChange)="updateHeaderColor($event)"
            [style.background]="header_color" />
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label for="sidebarColor">Sidebar Color</label>
          <input [(colorPicker)]="sidebar_color" class="form-control w-25"
            (colorPickerChange)="updateSidebarColor($event)" [style.background]="sidebar_color" />
        </div>


      </div>


      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label for="headerFontColor">Header Font Color</label>
          <input [(colorPicker)]="header_font_color" class="form-control w-25"
            (colorPickerChange)="updateHeaderFontColor($event)" [style.background]="header_font_color" />
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label for="sidebarFontColor">Sidebar Font Color</label>
          <input [(colorPicker)]="sidebar_font_color" class="form-control w-25"
            (colorPickerChange)="updateSidebarFontColor($event)" [style.background]="sidebar_font_color" />
        </div>


      </div>


    </div>
  </div>

  <div class="row mt-4">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="three">
        <h1>Side Menus</h1>
      </div>
      <div cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let name of allMenus" cdkDrag>
          <div class="card m-1">
            <div class="card-body">
              {{ name.position }} - {{ name.side_name }}
              <!-- <i (click)="sideMenuById(name.id)" class="fa-regular fa-pen-to-square corner-icon" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="cursor: pointer;"></i> -->
              <i class="fa-solid fa-bars corner-icon"></i>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" *ngFor="let edit of ByIdsideMenu">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit {{ edit.side_name }} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form #userForm="ngForm" (ngSubmit)="editMenu()">
                      <!-- Two-way binding to edit.side_name -->
                      <input type="text" id="side_name" name="side_name" class="form-control"
                        [(ngModel)]="ByIdsideMenu.side_name" placeholder="Enter new name here" required>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="three">
        <h1>Sub Side Menus</h1>
      </div>
      <div *ngFor="let group of subMenuGroups" class="card mt-2">
        <div class="card-header">
          {{ group.parent_name }}
        </div>
        <div class="card-body">
          <div cdkDropList (cdkDropListDropped)="onDropsub($event)">

            <div *ngFor="let sub of group.subMenus" cdkDrag>


              <h6 class="card-title">{{ sub.name }}
                <!-- <i (click)="subSideMenuById(sub.id)" class="fa-regular fa-pen-to-square corner-icon" data-bs-toggle="modal"
                  data-bs-target="#exampleModal2" style="cursor: pointer;"></i> -->
                <i class="fa-solid fa-bars corner-icon"></i>
              </h6>

            </div>

            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" *ngFor="let edit of ByIdsubMenu">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit {{ edit.name }} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form #userForm="ngForm" (ngSubmit)="editSubMenu()">

                      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="ByIdsubMenu.name"
                        placeholder="Enter new sub name here" required>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>

</div>