.drag-drop-zone {
    border: 2px dashed #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  .drag-drop-zone:hover {
    border-color: #3f51b5;
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 4px solid var(--sidebar-color);
    transition: transform 0.2s;
    border-radius: 10px;
}

.xl .card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    transition: transform 0.2s;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: var(--sidebar-color);
    color: white;
    font-weight: bold;
}

.btn-primary, .btn-success{
  background-color: var(--sidebar-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.card-view {
  background-color: #fff; /* Card background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Spacing inside the card */
  margin-bottom: 15px; /* Space between cards */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
}

.card-view:hover {
  transform: translateY(-5px); /* Lift the card slightly on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
